<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <div class="form-group mb-3">
                <label>Balance</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-money"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="1" maxlength="10" (input)="checkBalance(frmBalance)" required formControlName="balance" class="form-control" placeholder="Balance" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBalance.invalid && (frmBalance.dirty || frmBalance.touched)">Balance Invalid !</em>
                </div>
                <p class="form-refer-text">Balance | Ex 5000 </p>
                <p class="form-refer-text"><span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': pBalance >= 0,'red': pBalance < 0 }">{{parentUser}} balance is <b>{{pBalance}}</b></span></p>
                <p class="form-refer-text"><span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': cBalance >= 0,'red': cBalance < 0 }">{{thisUser}} balance is <b>{{cBalance}}</b></span></p>
              </div>

              <div class="form-group mb-3" *ngIf="inputValue">
                <label>UTR Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-comment-alt"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="100" formControlName="utr_number" class="form-control" placeholder="UTR Number" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUtrNo.invalid && (frmUtrNo.dirty || frmUtrNo.touched)">UTR Number Invalid !</em>
                </div>
                <p class="form-refer-text">UTR Number | Ex xyz</p>
              </div>

              <div class="form-group mb-3">
                <label>Remark</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-comment-alt"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="100" formControlName="remark" class="form-control" placeholder="Remark" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmRemark.invalid && (frmRemark.dirty || frmRemark.touched)">Remark Invalid !</em>
                </div>
                <p class="form-refer-text">Remark | Ex xyz</p>
              </div>
              
              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled':  userError != '' || !frm.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
