.acc-rej-div{
    position: relative;
  }
  .acc-rej-div button{
    height: 52px;
    margin: 0 0.5% !important;
    /* width: 49%; */
  }
  .acc-rej-div .arcr-suspended{
    cursor: not-allowed;
    font-size: 15px;
    border-radius: .15rem;
    background: rgba(221,221,221,.85);
    color: #000;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    right: 0;
    height: 52px;
    align-items: center;
    vertical-align: middle;
    display: grid;
    text-transform: uppercase;
    font-weight: 700;
  }

.red{
    background-color: #eb3b3b;
  }
  form.request_form.ng-untouched.ng-pristine.ng-invalid {
    width: 110%;
}