<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
      <div class="col-md-12 py-1">
        <h4 class="page-title">
          {{title}}
          <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"
            aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h4>
      </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <!-- searchbar -->
      <div class="collapse" id="filter">
        <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-7">
                <form [formGroup]="frm" (ngSubmit)="submitForm()" class="request_form"> 
                  <div class="form-row align-items-center">
                    <div class="col-xl-3 col-6 mb-1">
                      <select class="form-control" required formControlName="type">
                        <option value="">Select Type</option>
                        <option value="all">All</option>
                        <option value="1">Accepted</option>
                        <option value="2">Rejected</option>
                      </select>
                    </div>
                    <div class="col-xl-3 col-6 mb-1">
                      <input type="date" required formControlName="start_date" class="form-control">
                      <!--<em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>-->
                    </div>
                    <div class="col-xl-3 col-6 mb-1">
                      <div class="input-group">
                        <input type="date" required formControlName="end_date" class="form-control">
                        <!--<em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>-->
                      </div>
                    </div>
                    <div class="col-xl-2 col-6 mb-1">
                      <div class="input-group">
                        <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xl-5 text-right px-0 mx-0">
                <div class="button-list">
                  <div class="dt-buttons btn-group">
                    <button type="button" (click)="filters('deposit')" class="btn btn-success mr-1" title="Deposit">
                      <span>Deposit</span>
                    </button>
                    <button type="button" (click)="filters('withdraw')" class="btn btn-warning mr-1" title="Withdraw">
                      <span>Withdraw</span>
                    </button>
                    <button type="button" (click)="filters('today')" class="btn btn-secondary mr-1" title="Today">
                      <span>Today</span>
                    </button>
                    <button type="button" (click)="filters('week')" class="btn btn-secondary mr-1" title="1 Week">
                      <span>1 Week</span>
                    </button>
                    <button type="button" (click)="filters('month')" class="btn btn-secondary mr-1" title="1 Month">
                      <span>1 Month</span>
                    </button>
                    <!-- <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                      <span>Export <i class="mdi mdi-file-excel"></i></span>
                    </button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- searchbar -->
      <!-- <table *ngIf="isEmpty" id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
          <tr class="text-white">
            <th>#</th>
            <th>ID</th>
            <th>User</th>
            <th class="text-center">Type</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Date & Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No Data</td>
        </tbody>
      </table> -->

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
          <tr class="text-white">
            <th>#</th>
            <th>User Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Account Name</th>
            <th class="text-center">Account Number</th>
            <th class="text-center">IFSC Code</th>
            <th class="text-center">Sender Name</th>
            <th class="text-center">UTR Number</th>
            <th class="text-center">Date & Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{item.name}}</td>
            <td class="text-center"><strong>{{item.description}}</strong></td>
            <td class="text-center">{{item?.amount || '--'}}</td>
            <td class="text-center">{{item?.acName || '--'}}</td>
            <td class="text-center">{{item?.acNumber || '--'}}</td>
            <td class="text-center">{{item?.ifscCode || '--'}}</td>
            <td class="text-center">{{item?.sender_name || '--'}}</td>
            <td class="text-center">{{item?.utr_no || '--'}}</td>
            <td class="text-center">{{item.date}}</td>
            <td>
              <div class="acc-rej-div" >
                <!-- <button class="btn btn-rp text-light border-0 bg-success m-1" (click)="readNotify(item.id, 1 ,'Accept',1 ,item.type ,item.uId,item.name,item?.amount)">Accept</button> -->
                <!-- <button class="btn btn-rp text-light border-0 bg-danger red" (click)="readNotify(item.id, 2 ,'Reject',2)"  *ngIf="item.type !== 'registration'">Reject</button> -->
                <button class="btn btn-rp text-light border-0 bg-success m-1" (click)="readNotify(item, 1 ,'Accept',1)">Accept</button>
                <button class="btn btn-rp text-light border-0 bg-danger red" (click)="readNotify(item, 2 ,'Reject',2)"  *ngIf="item.type !== 'registration'">Reject</button>
                <div class="arcr-suspended" *ngIf="item.notifyStatus !== 0">
                  <span class="green" *ngIf="item.notifyStatus === 1">Accepted</span>
                  <span style="color: red;" *ngIf="item.notifyStatus === 2">Rejected</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
