<!-- Start Content-->
<div class="container-fluid">

    <div class="row justify-content-between bg-light border border-danger font-weight-bold">
  
      <!--back & create-->
      <div class="col-12 py-1">
        <h4 class="page-title">
          {{title}}
        </h4>
      </div>
      <!--back & create-->
  
      <div class="col-xl-12 ctm-form">
        <div class="row justify-content-center">
          <div class="col-xl-5">
            <div class="ctm-form-div">
              <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                <div class="form-group mb-3">
                  <label>Payment Gateway</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <select class="form-control" formControlName="payment_gateway_id" required (change)="paymentGatewayOptionChange($event.target.value)">
                        <option value=''>Select Value</option>
                        <option *ngFor="let option of paymentGatewayList" value="{{option?.id}}">
                            {{option?.name}}
                        </option>
                    </select>
                    <em class="show-error" *ngIf="frmPayGatName.invalid && (frmPayGatName.dirty || frmPayGatName.touched)">Invalid Value!</em>
                  </div>
                  <!-- <p class="form-refer-text"> Name | Ex xyz | min 3 | max 20</p> -->
                </div>
  
                <div class="form-group mb-3">
                  <label>Account Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <input type="text" required formControlName="account_name" class="form-control" placeholder="Enter Value">
                    <em class="show-error" *ngIf="frmACname.invalid && (frmACname.dirty || frmACname.touched)">Invalid Value!</em>
                  </div>
                  <!-- <p class="form-refer-text"> Username | Ex xyz123 ( alphabet and numerical ) | min 3 | max 20</p> -->
                </div>
  
                <div class="form-group mb-3">
                  <label *ngIf="payId == 4">Account Number</label>
                  <label *ngIf="payId != 4">UPI ID/ Mobile Number</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <input type="text" required formControlName="account_number" class="form-control" placeholder="Enter Value">
                    <em class="show-error" *ngIf="frmACNo.invalid && (frmACNo.dirty || frmACNo.touched)">Invalid Value!</em>
                  </div>
                  <!-- <p class="form-refer-text"> Password | Ex xyz123ABC | min 6 | max 25</p> -->
                </div>
  
                <div class="form-group mb-3" *ngIf="payId == 4">
                  <label>IFSC Code</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <input type="text" formControlName="ifsc_code" class="form-control" placeholder="Enter Value">
                    <em class="show-error" *ngIf="frmIFSCcode.invalid && (frmIFSCcode.dirty || frmIFSCcode.touched)">Invalid Value!</em>
                  </div>
                  <!-- <p class="form-refer-text">Balance | Ex 5000 | <span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': belance >= 0,'red': belance < 0 }">{{parentUser}} balance is {{belance}}</span></p> -->
                </div>
  
               <!-- <div class="form-group mb-3">
                 <label>UTR Number</label>
                 <div class="input-group">
                   <div class="input-group-prepend">
                       <span class="input-group-text">
                           <i class="fas fa-key"></i>
                       </span>
                   </div>
                   <input type="text" required formControlName="utr_number" class="form-control" placeholder="Enter Value">
                    <em class="show-error" *ngIf="frmUTRNo.invalid && (frmUTRNo.dirty || frmUTRNo.touched)">Invalid Value!</em>
                 </div>
               </div> -->

                <div class="form-group text-center">
                  <div class="button-list">
                    <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid}">Submit</button>
                    <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  
  </div> <!-- container -->
  