<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">
    <!--back & create-->
    <div class="col-7 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right py-1">
      <a routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <div class="table-responsive">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover scroll-horizontal-datatable">
        <thead class="bg-danger">
          <tr class="text-white">
            <th>#</th>
            <th>Category</th>
            <th>Sport</th>
            <th>Rule</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{ i + page.start }}</td>
            <td>{{item.sub_category}}</td>
            <td> {{item.categoryname}}</td>
            <td style="white-space: pre-line">{{item.rule}}</td>
            <td>
                <a (click)="changeStatus(item)"
                  class="btn btn-xs btn-white text-light border border-{{item.status.class1}}"
                  title="{{item.status.text}}">
                  <i class="fa {{item.status.class2}}"></i>
                </a>
                <a routerLink="/rules/create/{{item.id}}" class="btn btn-xs btn-white border border-success text-light"
                  title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
              <a (click)="doDelete(item.id)" class="btn btn-xs btn-white border border-success text-light"
                 title="Delete">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
  </div>
</div>
<!-- end row -->
<!-- </div> conta -->
