<!-- Start Content-->
<div class="container-fluid">

    <div class="row justify-content-between ">

        <div class="col-12 align-items-center py-1">
            <h4 class="page-title pull-left">
                {{title}}
            </h4>
            <a routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase pull-right">Add Bank</a>
        </div>

        <div class="col-xl-12 bg-white py-2 ctm-datables">

            <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
                <thead class="bg-danger">
                    <tr class="text-white">
                        <!-- <th>#</th> -->
                        <th>ID</th>
                        <th>Name</th>
                        <th class="text-center">Account Name</th>
                        <th class="text-center">Mobile / UPI ID/ Account Number</th>
                        <th class="text-center">IFSC Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of aList; let i = index;">
                        <!-- <td>{{ i + 1 }}</td> -->
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td class="text-center"><strong>{{item.amountName}}</strong></td>
                        <td class="text-center">{{item.acNumber}}</td>
                        <td *ngIf="item.name === 'IMPS'" class="text-center">{{item.ifscCode}}</td>
                        <td *ngIf="item.name != 'IMPS' " class="text-center"> -- </td>
                        <td>
                            <a (click)="doStatusUpdate( item?.id, item?.status)" class="btn btn-xs text-light"
                                [ngClass]="{'bg-success': item?.status === 1,'bg-danger': item?.status === 0}">
                                <i class="mdi"
                                    [ngClass]="{'mdi-check': item?.status === 1,'mdi-close': item?.status === 0}"></i>
                            </a>
                            <a (click)="updateBankDetails(item)" class="btn btn-xs bg-success text-light"
                                title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a (click)="doStatusDelete( item?.id, 2)" class="btn btn-xs bg-danger text-light"
                                title="Delete">
                                <i class="mdi mdi-delete"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>
    <!-- end row -->
</div>
<!-- container -->



<div class="modal fade update-bank-detail modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body row justify-content-between bg-light border border-danger font-weight-bold ">
                <div class="col-xl-12 ctm-form">
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title text-light" id="myCenterModalLabel"><b>Update Bank Details</b></h4>
                        <button type="button" class="close text-light" data-dismiss="modal"
                            aria-hidden="true">×</button>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="ctm-form-div">

                                <form [formGroup]="frm" (ngSubmit)="submitForm()">
                                    <div class="form-group mb-3">
                                        <label>Payment Gateway</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <select class="form-control" formControlName="payment_gateway_id" required
                                                (change)="paymentGatewayOptionChange($event.target.value)" disabled>
                                                <option *ngFor="let option of paymentGatewayList"
                                                    value="{{option?.id}}">
                                                    {{option?.name}}</option>
                                            </select>
                                            <em class="show-error"
                                                *ngIf="frmPayGatName.invalid && (frmPayGatName.dirty || frmPayGatName.touched)">Invalid
                                                Value!</em>
                                        </div>
                                        <!-- <p class="form-refer-text"> Name | Ex xyz | min 3 | max 20</p> -->
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>Account Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="text" required formControlName="account_name"
                                                class="form-control" placeholder="Enter Value">
                                            <em class="show-error"
                                                *ngIf="frmACname.invalid && (frmACname.dirty || frmACname.touched)">Invalid
                                                Value!</em>
                                        </div>
                                        <!-- <p class="form-refer-text"> Username | Ex xyz123 ( alphabet and numerical ) | min 3 | max 20</p> -->
                                    </div>

                                    <div class="form-group mb-3">
                                        <label *ngIf="payId == 4">Account Number</label>
                                        <label *ngIf="payId != 4">UPI ID/ Mobile Number</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="text" required formControlName="account_number"
                                                class="form-control" placeholder="Enter Value">
                                            <em class="show-error"
                                                *ngIf="frmACNo.invalid && (frmACNo.dirty || frmACNo.touched)">Invalid
                                                Value!</em>
                                        </div>
                                        <!-- <p class="form-refer-text"> Password | Ex xyz123ABC | min 6 | max 25</p> -->
                                    </div>

                                    <div class="form-group mb-3" *ngIf="payId == 4">
                                        <label>IFSC Code</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="text" formControlName="ifsc_code" class="form-control"
                                                placeholder="Enter Value">
                                            <em class="show-error"
                                                *ngIf="frmIFSCcode.invalid && (frmIFSCcode.dirty || frmIFSCcode.touched)">Invalid
                                                Value!</em>
                                        </div>
                                        <!-- <p class="form-refer-text">Balance | Ex 5000 | <span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': belance >= 0,'red': belance < 0 }">{{parentUser}} balance is {{belance}}</span></p> -->
                                    </div>

                                    <div class="form-group text-center">
                                        <div class="button-list">
                                            <button class="btn btn-success btn-md"
                                                [ngClass]="{'disabled': !frm.valid}">Submit</button>
                                            <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
