  /*default theme*/
  .default-theme .card{
      background-color: #fff !important;
      border: 1px solid #ddd !important;
  }
  .default-theme .login-card .form-center {
      box-shadow: inset 0 0 10px 0 #fb7099;
  }
  .default-theme .balance-scale i,
  .default-theme .giris-yap-buton,
  .default-theme .marquee-bg .marquee-text,
  .default-theme .span.noti-number,
  .default-theme .dash-div .row div span.dash-bets,
  .default-theme .game-detail-acc p.gd-event-title small strong,
  .default-theme .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .default-theme .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .default-theme .gda-div .btn-success-book,
  .default-theme .gda-div .btn-success-book:hover,
  .default-theme span.noti-number,
  .default-theme a.logout-menu,
  .default-theme a.logout-menu:hover,
  .default-theme .ctm-form .ctm-form-div button,
  .default-theme .ctm-form .ctm-form-div button,
  .default-theme .ctm-form .ctm-form-div a,
  .default-theme #DataTables_setting a.btn-white.text-light.border-success,
  .default-theme #DataTables_rules a.btn-white.text-light.border-success,
  .default-theme #DataTables_rules a.btn-white.text-light.border-danger,
  .default-theme #DataTables_setting_casino a.btn-white.text-light.border-success,
  .default-theme .de-box,
  .default-theme .fbm-nav li a.active,
  .default-theme .fbm-nav li a:hover
{
      background: linear-gradient(135deg,#622774,#fb7099) !important;
  }
  
  .default-theme .dropdown-header h6 {
      color: #fb7099;
  }
  .default-theme .btn-account-button,
  .default-theme .btn-account-viewbutton
  {
    background-color: #d75f90 !important;
  }
  .default-theme .row.justify-content-between.bg-light.border.border-danger h4.page-title,
  .default-theme h4.page-title.text-page-dark
  {
    color: #000 !important;
  }
  .default-theme .navbar-custom, .default-theme .dash-div .bg-danger {
      background: linear-gradient(90deg ,rgb(0 0 0),rgb(0 177 255),rgb(0 0 0))!important;
  }
  .default-theme #sidebar-menu>ul>li>a i,
  .default-theme .span.noti-number,
  .default-theme .game-detail-acc p.gd-event-title small strong .default-theme .gda-div .btn-success-book,
  .default-theme .gda-div .btn-success-book:hover,
  .default-theme table.dataTable thead .sorting:before,
  .default-theme table.dataTable thead .sorting_asc:before,
  .default-theme table.dataTable thead .sorting_asc_disabled:before,
  .default-theme table.dataTable thead .sorting_desc:before,
  .default-theme table.dataTable thead .sorting_desc_disabled:before,
  .default-theme table.dataTable thead .sorting:after,
  .default-theme table.dataTable thead .sorting_asc:after,
  .default-theme table.dataTable thead .sorting_asc_disabled:after,
  .default-theme table.dataTable thead .sorting_desc:after,
  .default-theme table.dataTable thead .sorting_desc_disabled:after,
  .default-theme .nav-second-level li a i,
  .default-theme .nav-thrid-level li a i {
      color: #00b1ff;
  }
  .default-theme #sidebar-menu>ul>li>a:active,
  .default-theme #sidebar-menu>ul>li>a:focus,
  .default-theme #sidebar-menu>ul>li>a:hover,
  .default-theme .nav-second-level li a:focus,
  .default-theme .nav-second-level li a:hover,
  .default-theme .nav-thrid-level li a:focus,
  .default-theme .nav-thrid-level li a:hover{
      background: linear-gradient(135deg,#622774,#fb7099) !important;
  }

  .default-theme ul.nav-second-level {
      background:#00283a;
  }
  .default-theme .game-detail-acc .gda-div .card-header,
  .default-theme .game-detail-acc h2,
  .default-theme .dataTable thead.bg-dark,
  .default-theme .left-side-menu{
      background: linear-gradient(90deg, rgb(0 0 0),rgb(40 40 40),rgb(0 0 0)) !important;
  }
  .default-theme .bg-white.ctm-datables,
  .default-theme .row.justify-content-between.bg-light.border.border-danger,
  .default-theme .settlement-minus,
  .default-theme .settlement-plus,
  .default-theme .dataTable.bg-white,
  .default-theme .dataTable.bg-light,
  .default-theme .fbm-nav li a{
      background: #f5f5f5 !important;
  }
  .default-theme .ctm-form .ctm-form-div form{
      background: #fff;
  }
    .default-theme .ctm-datables .table tbody tr td{
      color: #000;
      border-bottom: 1px solid #ddd;
  }
  .default-theme .ctm-datables thead.bg-danger,
  .default-theme .ctm-datables table tfoot tr,
  .default-theme .ctm-datables thead.bg-danger tr:hover{
      background: transparent linear-gradient(94deg,#333,#000 55%,#333) !important;
  }
  .default-theme .ctm-datables table tr:hover{
      background: #fff !important;
  }
  .default-theme .btn-dark,
  .default-theme .btn-secondary,
  .default-theme .btn-success,
  .default-theme .btn-dark:hover,
  .default-theme .btn-secondary:hover,
  .default-theme .btn-success:hover{
      background-color: #00b1ff ;
      border-color: #00b1ff;
      text-transform: uppercase;
      font-weight: 600;
  }
  .default-theme .gda-div .btn-success-book,
  .default-theme .gda-div .btn-success-book:hover,
  .default-theme .game-detail-acc p.gd-event-title small strong,
  .default-theme .dash-div .row div span.dash-bets,
  .default-theme .marquee-bg .marquee-text,
  .default-theme span.noti-number,
  .default-theme a.logout-menu,
  .default-theme .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .default-theme .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .default-theme .giris-yap-buton,
  .default-theme .page-title,
  .default-theme .fbm-nav li a.active{
      color: #fff !important;
  }

  .default-theme .dash-div .row div,
  .default-theme .eventlist-name p b,
  .default-theme .ctm-datables .dataTables_wrapper .dataTables_length label,
  .default-theme .ctm-datables .dataTables_wrapper .dataTables_filter label,
  .default-theme .ctm-form .ctm-form-div .form-group label,
  .default-theme .ctm-form p.form-refer-text,
  .default-theme .game-detail-acc table tr td,
  .default-theme .settlement-plus .dataTables_filter label,
  .default-theme .settlement-minus .dataTables_filter label,
  .default-theme .game-detail-acc p.gd-event-title,
  .default-theme .ctm-form .ctm-form-div h4,
  .default-theme .fbm-nav li a{
      color: #000;
  }
  .default-theme #DataTables_setting a.btn-white.text-light.border-success,
  .default-theme #DataTables_setting_casino a.btn-white.text-light.border-success{
      border:none;
      /* background:linear-gradient(135deg,#622774,#fb7099) !important; */
  }
  .default-theme .ctm-form .ctm-form-div i,
  .default-theme span.eyes,
  .default-theme .game-detail-acc .card-header a.card-anchor {
      color: #00B1FF;
  }
  .default-theme .settlement-plus .dataTables_filter input,
  .default-theme .settlement-minus .dataTables_filter input{
      background: #fff;
      border: 1px solid #eee;
      color: #000;
  }
  .default-theme .settlement-plus .btn-blue,
  .default-theme .settlement-minus .btn-blue{
      background: #00B1FF !important;
      border-color: #00B1FF !important;
  }
  /*default-theme*/

  /*theme-01*/
  .theme-01 .card{
      background-color: #fff !important;
      border: 1px solid #ddd !important;
  }
  .theme-01 .login-card .form-center {
      box-shadow: inset 0 0 10px 0 #b78700;
  }
  .theme-01 .balance-scale i,
  .theme-01 .giris-yap-buton,
  .theme-01 .marquee-bg .marquee-text,
  .theme-01 .span.noti-number,
  .theme-01 .dash-div .row div span.dash-bets,
  .theme-01 .game-detail-acc p.gd-event-title small strong,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-01 .gda-div .btn-success-book,
  .theme-01 .gda-div .btn-success-book:hover,
  .theme-01 span.noti-number,
  .theme-01 a.logout-menu,
  .theme-01 a.logout-menu:hover,
  .theme-01 .ctm-form .ctm-form-div button,
  .theme-01 .ctm-form .ctm-form-div button,
  .theme-01 .ctm-form .ctm-form-div a,
  .theme-01 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-01 #DataTables_rules a.btn-white.text-light.border-success,
  .theme-01 #DataTables_rules a.btn-white.text-light.border-danger,
  .theme-01 #DataTables_setting_casino a.btn-white.text-light.border-success,
  .theme-01 .de-box,
  .theme-01 .fbm-nav li a.active,
  .theme-01 .fbm-nav li a:hover
 {
      background: #b78700 !important;
  }
  .theme-01 .dropdown-header h6 {
      color: #b78700;
  }
  .theme-01 .btn-account-button,
  .theme-01 .btn-account-viewbutton
  {
    background-color: #b78700;;
  }
  
  .theme-01 .navbar-custom, .theme-01 .dash-div .bg-danger{
      background: linear-gradient(to right, rgb(0 0 0), rgb(255 188 0), rgb(0 0 0)) !important;
  }
  .theme-01 #sidebar-menu>ul>li>a i,
  .theme-01 .span.noti-number,
  .theme-01 .game-detail-acc p.gd-event-title small strong .theme-01 .gda-div .btn-success-book,
  .theme-01 .gda-div .btn-success-book:hover,
  .theme-01 table.dataTable thead .sorting:before,
  .theme-01 table.dataTable thead .sorting_asc:before,
  .theme-01 table.dataTable thead .sorting_asc_disabled:before,
  .theme-01 table.dataTable thead .sorting_desc:before,
  .theme-01 table.dataTable thead .sorting_desc_disabled:before,
  .theme-01 table.dataTable thead .sorting:after,
  .theme-01 table.dataTable thead .sorting_asc:after,
  .theme-01 table.dataTable thead .sorting_asc_disabled:after,
  .theme-01 table.dataTable thead .sorting_desc:after,
  .theme-01 table.dataTable thead .sorting_desc_disabled:after,
  .theme-01 .nav-second-level li a i,
  .theme-01 .nav-thrid-level li a i {
      color: #fcba00;
  }
  .theme-01 #sidebar-menu>ul>li>a:active,
  .theme-01 #sidebar-menu>ul>li>a:focus,
  .theme-01 #sidebar-menu>ul>li>a:hover,
  .theme-01 .nav-second-level li a:focus,
  .theme-01 .nav-second-level li a:hover,
  .theme-01 .nav-thrid-level li a:focus,
  .theme-01 .nav-thrid-level li a:hover{
      background: #b78700 !important;
  }
  .theme-01 ul.nav-second-level {
      background:#342700;
  }
  .theme-01 .game-detail-acc .gda-div .card-header,
  .theme-01 .game-detail-acc h2,
  .theme-01 .dataTable thead.bg-dark,
  .theme-01 .left-side-menu{
      background: linear-gradient(90deg, rgb(0 0 0),rgb(40 40 40),rgb(0 0 0)) !important;
  }
  .theme-01 .bg-white.ctm-datables,
  .theme-01 .row.justify-content-between.bg-light.border.border-danger,
  .theme-01 .settlement-minus,
  .theme-01 .settlement-plus,
  .theme-01 .dataTable.bg-white,
  .theme-01 .dataTable.bg-light,
  .theme-01 .fbm-nav li a{
      background: #f5f5f5 !important;
  }
  .theme-01 .ctm-form .ctm-form-div form{
      background: #fff;
  }
  .theme-01 .ctm-datables .table tbody tr td{
      color: #000;
      border-bottom: 1px solid #ddd;
  }
  .theme-01 .ctm-datables thead.bg-danger,
  .theme-01 .ctm-datables table tfoot tr,
  .theme-01 .ctm-datables thead.bg-danger tr:hover{
      background: transparent linear-gradient(94deg,#333,#000 55%,#333) !important;
  }
  .theme-01 .ctm-datables table tr:hover{
      background: #fff !important;
  }
  .theme-01 .btn-dark,
  .theme-01 .btn-secondary,
  .theme-01 .btn-success,
  .theme-01 .btn-dark:hover,
  .theme-01 .btn-secondary:hover,
  .theme-01 .btn-success:hover{
      background-color: #b78700 !important;
      border-color: #b78700 !important;
      text-transform: uppercase;
      font-weight: 600;
  }
  .theme-01 .gda-div .btn-success-book,
  .theme-01 .gda-div .btn-success-book:hover,
  .theme-01 .game-detail-acc p.gd-event-title small strong,
  .theme-01 .dash-div .row div span.dash-bets,
  .theme-01 .marquee-bg .marquee-text,
  .theme-01 span.noti-number,
  .theme-01 a.logout-menu,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-01 .giris-yap-buton,
  .theme-01 .page-title,
  .theme-01 .fbm-nav li a.active{
      color: #fff !important;
  }

  .theme-01 .row.justify-content-between.bg-light.border.border-danger h4.page-title,
  .theme-01 h4.page-title.text-page-dark
  {
    color: #000 !important;
  }
  .theme-01 .dash-div .row div,
  .theme-01 .eventlist-name p b,
  .theme-01 .ctm-datables .dataTables_wrapper .dataTables_length label,
  .theme-01 .ctm-datables .dataTables_wrapper .dataTables_filter label,
  .theme-01 .ctm-form .ctm-form-div .form-group label,
  .theme-01 .ctm-form p.form-refer-text,
  .theme-01 .game-detail-acc table tr td,
  .theme-01 .settlement-plus .dataTables_filter label,
  .theme-01 .settlement-minus .dataTables_filter label,
  .theme-01 .game-detail-acc p.gd-event-title,
  .theme-01 .ctm-form .ctm-form-div h4,
  .theme-01 .fbm-nav li a
  {
      color: #000 !important;
  }
  .theme-01 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-01 #DataTables_setting_casino a.btn-white.text-light.border-success{
      border:none;
  }
  .theme-01 .ctm-form .ctm-form-div i,
  .theme-01 span.eyes,
  .theme-01 .game-detail-acc .card-header a.card-anchor {
      color: #b78700;
  }
  .theme-01 .settlement-plus .dataTables_filter input,
  .theme-01 .settlement-minus .dataTables_filter input{
      background: #fff;
      border: 1px solid #eee;
      color: #000;
  }
  .theme-01 .settlement-plus .btn-blue,
  .theme-01 .settlement-minus .btn-blue{
      background: #b78700 !important;
      border-color: #b78700 !important;
  }
  /*theme-01*/

  /*theme-02*/
  .theme-02 .card{
    background-color: #fff !important;
    border: 1px solid #ddd !important;
  }
  .theme-02 .login-card .form-center {
    box-shadow: inset 0 0 10px 0 #1a2a6c;
  }
  .theme-02 .balance-scale i,
  .theme-02 .giris-yap-buton,
  .theme-02 .marquee-bg .marquee-text,
  .theme-02 .span.noti-number,
  .theme-02 .dash-div .row div span.dash-bets,
  .theme-02 .game-detail-acc p.gd-event-title small strong,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-02 .gda-div .btn-success-book,
  .theme-02 .gda-div .btn-success-book:hover,
  .theme-02 span.noti-number,
  .theme-02 a.logout-menu,
  .theme-02 a.logout-menu:hover,
  .theme-02 .ctm-form .ctm-form-div button,
  .theme-02 .ctm-form .ctm-form-div button,
  .theme-02 .ctm-form .ctm-form-div a,
  .theme-02 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-02 #DataTables_rules a.btn-white.text-light.border-success,
  .theme-02 #DataTables_rules a.btn-white.text-light.border-danger,
  .theme-02 #DataTables_setting_casino a.btn-white.text-light.border-success,
  .theme-02 .de-box,
  .theme-02 .fbm-nav li a.active,
  .theme-02 .fbm-nav li a:hover
 {
     background: #1a2a6c !important; 
  }
  .theme-02 .dropdown-header h6 {
    color: #1a2a6c;
  }
  .theme-02 .row.justify-content-between.bg-light.border.border-danger h4.page-title,
  .theme-02 h4.page-title.text-page-dark
  {
    color: #000 !important;
  }
.theme-02 .btn-account-button,
.theme-02 .btn-account-viewbutton
{
  background-color: #1a2a6c;
}
  .theme-02 .navbar-custom, .theme-02 .dash-div .bg-danger{
    background: linear-gradient(to right, rgb(0 0 0), rgb(255 0 0), rgb(0 0 0)) !important;
  }
  .theme-02 #sidebar-menu>ul>li>a i,
  .theme-02 .span.noti-number,
  .theme-02 .game-detail-acc p.gd-event-title small strong .theme-02 .gda-div .btn-success-book,
  .theme-02 .gda-div .btn-success-book:hover,
  .theme-02 table.dataTable thead .sorting:before,
  .theme-02 table.dataTable thead .sorting_asc:before,
  .theme-02 table.dataTable thead .sorting_asc_disabled:before,
  .theme-02 table.dataTable thead .sorting_desc:before,
  .theme-02 table.dataTable thead .sorting_desc_disabled:before,
  .theme-02 table.dataTable thead .sorting:after,
  .theme-02 table.dataTable thead .sorting_asc:after,
  .theme-02 table.dataTable thead .sorting_asc_disabled:after,
  .theme-02 table.dataTable thead .sorting_desc:after,
  .theme-02 table.dataTable thead .sorting_desc_disabled:after,
  .theme-02 .nav-second-level li a i,
  .theme-02 .nav-thrid-level li a i {
    color: #ea0000;
  }
  .theme-02 #sidebar-menu>ul>li>a:active,
  .theme-02 #sidebar-menu>ul>li>a:focus,
  .theme-02 #sidebar-menu>ul>li>a:hover,
  .theme-02 .nav-second-level li a:focus,
  .theme-02 .nav-second-level li a:hover,
  .theme-02 .nav-thrid-level li a:focus,
  .theme-02 .nav-thrid-level li a:hover{
    background: #1a2a6c !important;
  }
  .theme-02 ul.nav-second-level {
    background:#2e0000;
  }
  .theme-02 .game-detail-acc .gda-div .card-header,
  .theme-02 .game-detail-acc h2,
  .theme-02 .dataTable thead.bg-dark,
  .theme-02 .left-side-menu{
    background: linear-gradient(90deg, rgb(0 0 0),rgb(40 40 40),rgb(0 0 0)) !important;
  }
  .theme-02 .bg-white.ctm-datables,
  .theme-02 .row.justify-content-between.bg-light.border.border-danger,
  .theme-02 .settlement-minus,
  .theme-02 .settlement-plus,
  .theme-02 .dataTable.bg-white,
  .theme-02 .dataTable.bg-light,
  .theme-02 .fbm-nav li a{
    background: #f5f5f5 !important;
  }
  .theme-02 .ctm-form .ctm-form-div form{
    background: #fff;
  }
  .theme-02 .ctm-datables .table tbody tr td{
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  .theme-02 .ctm-datables thead.bg-danger,
  .theme-02 .ctm-datables table tfoot tr,
  .theme-02 .ctm-datables thead.bg-danger tr:hover{
    background: transparent linear-gradient(94deg,#333,#000 55%,#333) !important;
  }
  .theme-02 .ctm-datables table tr:hover{
    background: #fff !important;
  }
  .theme-02 .btn-dark,
  .theme-02 .btn-secondary,
  .theme-02 .btn-success,
  .theme-02 .btn-dark:hover,
  .theme-02 .btn-secondary:hover,
  .theme-02 .btn-success:hover{
    background-color: #1a2a6c !important;
    border-color: #1a2a6c !important;
    text-transform: uppercase;
    font-weight: 600;
  }
  .theme-02 .gda-div .btn-success-book,
  .theme-02 .gda-div .btn-success-book:hover,
  .theme-02 .game-detail-acc p.gd-event-title small strong,
  .theme-02 .dash-div .row div span.dash-bets,
  .theme-02 .marquee-bg .marquee-text,
  .theme-02 span.noti-number,
  .theme-02 a.logout-menu,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-02 .giris-yap-buton,
  .theme-02  .page-title,
  .theme-02 .fbm-nav li a.active{
    color: #fff !important;
  }
  .theme-02 .dash-div .row div,
  .theme-02 .eventlist-name p b,
  .theme-02 .ctm-datables .dataTables_wrapper .dataTables_length label,
  .theme-02 .ctm-datables .dataTables_wrapper .dataTables_filter label,
  .theme-02 .ctm-form .ctm-form-div .form-group label,
  .theme-02 .ctm-form p.form-refer-text,
  .theme-02 .game-detail-acc table tr td,
  .theme-02 .settlement-plus .dataTables_filter label,
  .theme-02 .settlement-minus .dataTables_filter label,
  .theme-02 .game-detail-acc p.gd-event-title,
  .theme-02 .ctm-form .ctm-form-div h4,
  .theme-02 .fbm-nav li a{
    color: #000 !important;
  }
  .theme-02 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-02 #DataTables_setting_casino a.btn-white.text-light.border-success{
    border:none;
  }
  .theme-02 .ctm-form .ctm-form-div i,
  .theme-02 span.eyes,
  .theme-02 .game-detail-acc .card-header a.card-anchor {
    color: #1a2a6c;
  }
  .theme-02 .settlement-plus .dataTables_filter input,
  .theme-02 .settlement-minus .dataTables_filter input{
    background: #fff;
    border: 1px solid #eee;
    color: #000;
  }
  .theme-02 .settlement-plus .btn-blue,
  .theme-02 .settlement-minus .btn-blue{
    background: #1a2a6c !important;
    border-color: #1a2a6c !important;
  }
  /*theme-02*/

  /*theme-03*/
  .theme-03 .card{
    background-color: #fff !important;
    border: 1px solid #ddd !important;
  }
  .theme-03 .login-card .form-center {
    box-shadow: inset 0 0 10px 0 #1a2a6c;
  }
  .theme-03 .balance-scale i,
  .theme-03 .giris-yap-buton,
  .theme-03 .marquee-bg .marquee-text,
  .theme-03 .span.noti-number,
  .theme-03 .dash-div .row div span.dash-bets,
  .theme-03 .game-detail-acc p.gd-event-title small strong,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-03 .gda-div .btn-success-book,
  .theme-03 .gda-div .btn-success-book:hover,
  .theme-03 span.noti-number,
  .theme-03 a.logout-menu,
  .theme-03 a.logout-menu:hover,
  .theme-03 .ctm-form .ctm-form-div button,
  .theme-03 .ctm-form .ctm-form-div button,
  .theme-03 .ctm-form .ctm-form-div a,
  .theme-03 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-03 #DataTables_rules a.btn-white.text-light.border-success,
  .theme-03 #DataTables_rules a.btn-white.text-light.border-danger,
  .theme-03 #DataTables_setting_casino a.btn-white.text-light.border-success,
  .theme-03 .de-box,
  .theme-03 .fbm-nav li a.active,
  .theme-03 .fbm-nav li a:hover
 
  {
     background: #00a6b7 !important; 
  }
  .theme-03 .dropdown-header h6 {
    color: #00a6b7;
  }
  .theme-03 .row.justify-content-between.bg-light.border.border-danger h4.page-title,
  .theme-03 h4.page-title.text-page-dark
  {
    color: #000 !important;
  }
  .theme-03 .btn-account-button,
  .theme-03 .btn-account-viewbutton
  {
    background-color: #00a6b7;
  }
  .theme-03 .navbar-custom, .theme-03 .dash-div .bg-danger{
    background: linear-gradient(to right, rgb(0 0 0), rgb(0 255 231), rgb(0 0 0)) !important;
  }
  .theme-03 #sidebar-menu>ul>li>a i,
  .theme-03 .span.noti-number,
  .theme-03 .game-detail-acc p.gd-event-title small strong .theme-03 .gda-div .btn-success-book,
  .theme-03 .gda-div .btn-success-book:hover,
  .theme-03 table.dataTable thead .sorting:before,
  .theme-03 table.dataTable thead .sorting_asc:before,
  .theme-03 table.dataTable thead .sorting_asc_disabled:before,
  .theme-03 table.dataTable thead .sorting_desc:before,
  .theme-03 table.dataTable thead .sorting_desc_disabled:before,
  .theme-03 table.dataTable thead .sorting:after,
  .theme-03 table.dataTable thead .sorting_asc:after,
  .theme-03 table.dataTable thead .sorting_asc_disabled:after,
  .theme-03 table.dataTable thead .sorting_desc:after,
  .theme-03 table.dataTable thead .sorting_desc_disabled:after,
  .theme-03 .nav-second-level li a i,
  .theme-03 .nav-thrid-level li a i {
    color: #00f3dc;
  }
  .theme-03 #sidebar-menu>ul>li>a:active,
  .theme-03 #sidebar-menu>ul>li>a:focus,
  .theme-03 #sidebar-menu>ul>li>a:hover,
  .theme-03 .nav-second-level li a:focus,
  .theme-03 .nav-second-level li a:hover,
  .theme-03 .nav-thrid-level li a:focus,
  .theme-03 .nav-thrid-level li a:hover{
    background: #00a6b7 !important;
  }
  .theme-03 ul.nav-second-level {
    background:#002421;
  }
  .theme-03 .game-detail-acc .gda-div .card-header,
  .theme-03 .game-detail-acc h2,
  .theme-03 .dataTable thead.bg-dark,
  .theme-03 .left-side-menu{
    background: linear-gradient(90deg, rgb(0 0 0),rgb(40 40 40),rgb(0 0 0)) !important;
  }
  .theme-03 .bg-white.ctm-datables,
  .theme-03 .row.justify-content-between.bg-light.border.border-danger,
  .theme-03 .settlement-minus,
  .theme-03 .settlement-plus,
  .theme-03 .dataTable.bg-white,
  .theme-03 .dataTable.bg-light,
  .theme-03 .fbm-nav li a{
    background: #f5f5f5 !important;
  }
  .theme-03 .ctm-form .ctm-form-div form{
    background: #fff;
  }
  .theme-03 .ctm-datables .table tbody tr td{
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  .theme-03 .ctm-datables thead.bg-danger,
  .theme-03 .ctm-datables table tfoot tr,
  .theme-03 .ctm-datables thead.bg-danger tr:hover{
    background: transparent linear-gradient(94deg,#333,#000 55%,#333) !important;
  }
  .theme-03 .ctm-datables table tr:hover{
    background: #fff !important;
  }
  .theme-03 .btn-dark,
  .theme-03 .btn-secondary,
  .theme-03 .btn-success,
  .theme-03 .btn-dark:hover,
  .theme-03 .btn-secondary:hover,
  .theme-03 .btn-success:hover{
    background-color: #00a6b7 !important;
    border-color: #00a6b7 !important;
    text-transform: uppercase;
    font-weight: 600;
  }
  .theme-03 .gda-div .btn-success-book,
  .theme-03 .gda-div .btn-success-book:hover,
  .theme-03 .game-detail-acc p.gd-event-title small strong,
  .theme-03 .dash-div .row div span.dash-bets,
  .theme-03 .marquee-bg .marquee-text,
  .theme-03 span.noti-number,
  .theme-03 a.logout-menu,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-03 .giris-yap-buton,
  .theme-03 .page-title,
  .theme-03 .fbm-nav li a.active{
    color: #fff !important;
  }
  .theme-03 .dash-div .row div,
  .theme-03 .eventlist-name p b,
  
  .theme-03 .ctm-datables .dataTables_wrapper .dataTables_length label,
  .theme-03 .ctm-datables .dataTables_wrapper .dataTables_filter label,
  .theme-03 .ctm-form .ctm-form-div .form-group label,
  .theme-03 .ctm-form p.form-refer-text,
  .theme-03 .game-detail-acc table tr td,
  .theme-03 .settlement-plus .dataTables_filter label,
  .theme-03 .settlement-minus .dataTables_filter label,
  .theme-03 .game-detail-acc p.gd-event-title,
  .theme-03 .ctm-form .ctm-form-div h4,
  .theme-03 .fbm-nav li a{
    color: #000 !important;
  }
  .theme-03 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-03 #DataTables_setting_casino a.btn-white.text-light.border-success{
    border:none;
  }
  .theme-03 .ctm-form .ctm-form-div i,
  .theme-03 span.eyes,
  .theme-03 .game-detail-acc .card-header a.card-anchor {
    color: #00a6b7;
  }
  .theme-03 .settlement-plus .dataTables_filter input,
  .theme-03 .settlement-minus .dataTables_filter input{
    background: #fff;
    border: 1px solid #eee;
    color: #000;
  }
  .theme-03 .settlement-plus .btn-blue,
  .theme-03 .settlement-minus .btn-blue{
    background: #00a6b7 !important;
    border-color: #00a6b7 !important;
  }
  /*theme-03*/

  /*theme-04*/
  .theme-04 .card{
    background-color: #fff !important;
    border: 1px solid #ddd !important;
  }
  .theme-04 .login-card .form-center {
    box-shadow: inset 0 0 10px 0 #1a2a6c;
  }
  .theme-04 .balance-scale i,
  .theme-04 .giris-yap-buton,
  .theme-04 .marquee-bg .marquee-text,
  .theme-04 .span.noti-number,
  .theme-04 .dash-div .row div span.dash-bets,
  .theme-04 .game-detail-acc p.gd-event-title small strong,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-04 .gda-div .btn-success-book,
  .theme-04 .gda-div .btn-success-book:hover,
  .theme-04 span.noti-number,
  .theme-04 a.logout-menu,
  .theme-04 a.logout-menu:hover,
  .theme-04 .ctm-form .ctm-form-div button,
  .theme-04 .ctm-form .ctm-form-div button,
  .theme-04 .ctm-form .ctm-form-div a,
  .theme-04 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-04 #DataTables_rules a.btn-white.text-light.border-success,
  .theme-04 #DataTables_rules a.btn-white.text-light.border-danger,
  .theme-04 #DataTables_setting_casino a.btn-white.text-light.border-success,
  .theme-04 .de-box,
  .theme-04 .fbm-nav li a.active,
  .theme-04 .fbm-nav li a:hover
  
  {
    background: #277349 !important; 
  }
  .theme-04 .dropdown-header h6 {
    color: #277349;
  }
  .theme-04 .row.justify-content-between.bg-light.border.border-danger h4.page-title,
  .theme-04 h4.page-title.text-page-dark
  {
    color: #000 !important;
  }
  .theme-04 .btn-account-button,
  .theme-04 .btn-account-viewbutton
  {
    background-color: #277349;
  }
  .theme-04 .navbar-custom, .theme-04 .dash-div .bg-danger{
    background: linear-gradient(to right, rgb(0 0 0), rgb(0 167 74), rgb(0 0 0)) !important;
  }
  .theme-04 #sidebar-menu>ul>li>a i,
  .theme-04 .span.noti-number,
  .theme-04 .game-detail-acc p.gd-event-title small strong .theme-04 .gda-div .btn-success-book,
  .theme-04 .gda-div .btn-success-book:hover,
  .theme-04 table.dataTable thead .sorting:before,
  .theme-04 table.dataTable thead .sorting_asc:before,
  .theme-04 table.dataTable thead .sorting_asc_disabled:before,
  .theme-04 table.dataTable thead .sorting_desc:before,
  .theme-04 table.dataTable thead .sorting_desc_disabled:before,
  .theme-04 table.dataTable thead .sorting:after,
  .theme-04 table.dataTable thead .sorting_asc:after,
  .theme-04 table.dataTable thead .sorting_asc_disabled:after,
  .theme-04 table.dataTable thead .sorting_desc:after,
  .theme-04 table.dataTable thead .sorting_desc_disabled:after,
  .theme-04 .nav-second-level li a i,
  .theme-04 .nav-thrid-level li a i {
    color: #00a74a;
  }
  .theme-04 #sidebar-menu>ul>li>a:active,
  .theme-04 #sidebar-menu>ul>li>a:focus,
  .theme-04 #sidebar-menu>ul>li>a:hover,
  .theme-04 .nav-second-level li a:focus,
  .theme-04 .nav-second-level li a:hover,
  .theme-04 .nav-thrid-level li a:focus,
  .theme-04 .nav-thrid-level li a:hover{
    background: #277349 !important;
  }
  .theme-04 ul.nav-second-level {
    background:#002421;
  }
  .theme-04 .game-detail-acc .gda-div .card-header,
  .theme-04 .game-detail-acc h2,
  .theme-04 .dataTable thead.bg-dark,
  .theme-04 .left-side-menu{
    background: linear-gradient(90deg, rgb(0 0 0),rgb(40 40 40),rgb(0 0 0)) !important;
  }
  .theme-04 .bg-white.ctm-datables,
  .theme-04 .row.justify-content-between.bg-light.border.border-danger,
  .theme-04 .settlement-minus,
  .theme-04 .settlement-plus,
  .theme-04 .dataTable.bg-white,
  .theme-04 .dataTable.bg-light,
  .theme-04 .fbm-nav li a{
    background: #f5f5f5 !important;
  }
  .theme-04 .ctm-form .ctm-form-div form{
    background: #fff;
  }
  .theme-04 .ctm-datables .table tbody tr td{
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  .theme-04 .ctm-datables thead.bg-danger,
  .theme-04 .ctm-datables table tfoot tr,
  .theme-04 .ctm-datables thead.bg-danger tr:hover{
    background: transparent linear-gradient(94deg,#333,#000 55%,#333) !important;
  }
  .theme-04 .ctm-datables table tr:hover{
    background: #fff !important;
  }
  .theme-04 .btn-dark,
  .theme-04 .btn-secondary,
  .theme-04 .btn-success,
  .theme-04 .btn-dark:hover,
  .theme-04 .btn-secondary:hover,
  .theme-04 .btn-success:hover{
    background-color: #277349 !important;
    border-color: #277349 !important;
    text-transform: uppercase;
    font-weight: 600;
  }
  .theme-04 .gda-div .btn-success-book,
  .theme-04 .gda-div .btn-success-book:hover,
  .theme-04 .game-detail-acc p.gd-event-title small strong,
  .theme-04 .dash-div .row div span.dash-bets,
  .theme-04 .marquee-bg .marquee-text,
  .theme-04 span.noti-number,
  .theme-04 a.logout-menu,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-04 .giris-yap-buton,
  .theme-04 .page-title,
  .theme-04 .fbm-nav li a.active{
    color: #fff !important;
  }
  .theme-04 .dash-div .row div,
  .theme-04 .eventlist-name p b,
  .theme-04 .ctm-datables .dataTables_wrapper .dataTables_length label,
  .theme-04 .ctm-datables .dataTables_wrapper .dataTables_filter label,
  .theme-04 .ctm-form .ctm-form-div .form-group label,
  .theme-04 .ctm-form p.form-refer-text,
  .theme-04 .game-detail-acc table tr td,
  .theme-04 .settlement-plus .dataTables_filter label,
  .theme-04 .settlement-minus .dataTables_filter label,
  .theme-04 .game-detail-acc p.gd-event-title,
  .theme-04 .ctm-form .ctm-form-div h4,
  .theme-04 .fbm-nav li a{
    color: #000 !important;
  }
  .theme-04 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-04 #DataTables_setting_casino a.btn-white.text-light.border-success{
    border:none;
  }
  .theme-04 .ctm-form .ctm-form-div i,
  .theme-04 span.eyes,
  .theme-04 .game-detail-acc .card-header a.card-anchor {
    color: #277349;
  }
  .theme-04 .settlement-plus .dataTables_filter input,
  .theme-04 .settlement-minus .dataTables_filter input{
    background: #fff;
    border: 1px solid #eee;
    color: #000;
  }
  .theme-04 .settlement-plus .btn-blue,
  .theme-04 .settlement-minus .btn-blue{
    background: #277349 !important;
    border-color: #277349 !important;
  }
  /*theme-04*/

  /*theme-05*/
  .theme-05 .card{
    background-color: #fff !important;
    border: 1px solid #ddd !important;
  }
  .theme-05 .login-card .form-center {
    box-shadow: inset 0 0 10px 0 #1a2a6c;
  }
  .theme-05 .balance-scale i,
  .theme-05 .giris-yap-buton,
  .theme-05 .marquee-bg .marquee-text,
  .theme-05 .span.noti-number,
  .theme-05 .dash-div .row div span.dash-bets,
  .theme-05 .game-detail-acc p.gd-event-title small strong,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-05 .gda-div .btn-success-book,
  .theme-05 .gda-div .btn-success-book:hover,
  .theme-05 span.noti-number,
  .theme-05 a.logout-menu,
  .theme-05 a.logout-menu:hover,
  .theme-05 .ctm-form .ctm-form-div button,
  .theme-05 .ctm-form .ctm-form-div button,
  .theme-05 .ctm-form .ctm-form-div a,
  .theme-05 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-05 #DataTables_rules a.btn-white.text-light.border-success,
  .theme-05 #DataTables_rules a.btn-white.text-light.border-danger,
  .theme-05 #DataTables_setting_casino a.btn-white.text-light.border-success,
  .theme-05 .de-box,
  .theme-05 .fbm-nav li a.active,
  .theme-05 .fbm-nav li a:hover
  
  {
    background: #fd5d00 !important;
  }
  .theme-05 .dropdown-header h6 {
    color: #fd5d00;
  }
  .theme-05 .btn-account-button,
  .theme-05 .btn-account-viewbutton
  {
    background-color:#fd5d00;
  }
  .theme-05 .row.justify-content-between.bg-light.border.border-danger h4.page-title,
  .theme-05 h4.page-title.text-page-dark
  {
    color: #000 !important;
  }
  .theme-05 .navbar-custom, .theme-05 .dash-div .bg-danger{
    background: linear-gradient(to right, rgb(0 0 0), rgb(255 94 0), rgb(0 0 0)) !important;
  }
  .theme-05 #sidebar-menu>ul>li>a i,
  .theme-05 .span.noti-number,
  .theme-05 .game-detail-acc p.gd-event-title small strong .theme-05 .gda-div .btn-success-book,
  .theme-05 .gda-div .btn-success-book:hover,
  .theme-05 table.dataTable thead .sorting:before,
  .theme-05 table.dataTable thead .sorting_asc:before,
  .theme-05 table.dataTable thead .sorting_asc_disabled:before,
  .theme-05 table.dataTable thead .sorting_desc:before,
  .theme-05 table.dataTable thead .sorting_desc_disabled:before,
  .theme-05 table.dataTable thead .sorting:after,
  .theme-05 table.dataTable thead .sorting_asc:after,
  .theme-05 table.dataTable thead .sorting_asc_disabled:after,
  .theme-05 table.dataTable thead .sorting_desc:after,
  .theme-05 table.dataTable thead .sorting_desc_disabled:after,
  .theme-05 .nav-second-level li a i,
  .theme-05 .nav-thrid-level li a i {
    color: #983800;
  }
  .theme-05 #sidebar-menu>ul>li>a:active,
  .theme-05 #sidebar-menu>ul>li>a:focus,
  .theme-05 #sidebar-menu>ul>li>a:hover,
  .theme-05 .nav-second-level li a:focus,
  .theme-05 .nav-second-level li a:hover,
  .theme-05 .nav-thrid-level li a:focus,
  .theme-05 .nav-thrid-level li a:hover{
    background: #fd5d00 !important;
  }
  .theme-05 ul.nav-second-level {
    background:#260e00;
  }
  .theme-05 .game-detail-acc .gda-div .card-header,
  .theme-05 .game-detail-acc h2,
  .theme-05 .dataTable thead.bg-dark,
  .theme-05 .left-side-menu{
    background: linear-gradient(90deg, rgb(0 0 0),rgb(40 40 40),rgb(0 0 0)) !important;
  }
  .theme-05 .bg-white.ctm-datables,
  .theme-05 .row.justify-content-between.bg-light.border.border-danger,
  .theme-05 .settlement-minus,
  .theme-05 .settlement-plus,
  .theme-05 .dataTable.bg-white,
  .theme-05 .dataTable.bg-light,
  .theme-05 .fbm-nav li a{
    background: #f5f5f5 !important;
  }
  .theme-05 .ctm-form .ctm-form-div form{
    background: #fff;
  }
  .theme-05 .ctm-datables .table tbody tr td{
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  .theme-05 .ctm-datables thead.bg-danger,
  .theme-05 .ctm-datables table tfoot tr,
  .theme-05 .ctm-datables thead.bg-danger tr:hover{
    background: transparent linear-gradient(94deg,#333,#000 55%,#333) !important;
  }
  .theme-05 .ctm-datables table tr:hover{
    background: #fff !important;
  }
  .theme-05 .btn-dark,
  .theme-05 .btn-secondary,
  .theme-05 .btn-success,
  .theme-05 .btn-dark:hover,
  .theme-05 .btn-secondary:hover,
  .theme-05 .btn-success:hover{
    background-color: #fd5d00 !important;
    border-color: #fd5d00 !important;
    text-transform: uppercase;
    font-weight: 600;
  }
  .theme-05 .gda-div .btn-success-book,
  .theme-05 .gda-div .btn-success-book:hover,
  .theme-05 .game-detail-acc p.gd-event-title small strong,
  .theme-05 .dash-div .row div span.dash-bets,
  .theme-05 .marquee-bg .marquee-text,
  .theme-05 span.noti-number,
  .theme-05 a.logout-menu,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-05 .giris-yap-buton,
  .theme-05 .page-title,
  .theme-05 .fbm-nav li a.active{
    color: #fff !important;
  }
  .theme-05 .dash-div .row div,
  .theme-05 .eventlist-name p b,
  .theme-05 .ctm-datables .dataTables_wrapper .dataTables_length label,
  .theme-05 .ctm-datables .dataTables_wrapper .dataTables_filter label,
  .theme-05 .ctm-form .ctm-form-div .form-group label,
  .theme-05 .ctm-form p.form-refer-text,
  .theme-05 .game-detail-acc table tr td,
  .theme-05 .settlement-plus .dataTables_filter label,
  .theme-05 .settlement-minus .dataTables_filter label,
  .theme-05 .game-detail-acc p.gd-event-title,
  .theme-05 .ctm-form .ctm-form-div h4,
  .theme-05 .fbm-nav li a{
    color: #000 !important;
  }
  .theme-05 #DataTables_setting a.btn-white.text-light.border-success,
  .theme-05 #DataTables_setting_casino a.btn-white.text-light.border-success{
    border:none;
  }
  .theme-05 .ctm-form .ctm-form-div i,
  .theme-05 span.eyes,
  .theme-05 .game-detail-acc .card-header a.card-anchor {
    color: #fd5d00;
  }
  .theme-05 .settlement-plus .dataTables_filter input,
  .theme-05 .settlement-minus .dataTables_filter input{
    background: #fff;
    border: 1px solid #eee;
    color: #000;
  }
  .theme-05 .settlement-plus .btn-blue,
  .theme-05 .settlement-minus .btn-blue{
    background: #fd5d00 !important;
    border-color: #fd5d00 !important;
  }
  /*theme-05*/
