
<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title text-light">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}

        <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
          <i class="mdi mdi-filter pr-0"></i>
        </a>
      </h4>
    </div>
    
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#SportId</th>
          <th>Sport Name</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{item?.sportId}}</td>
          <td>{{item.name}}</td>
          <td>
            <button type="button"
                    [ngClass]="{'btn-success-unblock': !item?.isBlock,'btn-danger-block': item?.isBlock}" class="btn pr-0"
                    id="DashButtonGame">
                  <span (click)="doSportBlock(item?.sportId,item?.isBlock)" class="btn-label mr-0">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !item?.isBlock,'mdi-block-helper': item?.isBlock}"></i>
                  </span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->

</div> <!-- container -->
